
.site-wrapper{
  @extend .x-centered;
  color: $primary;
  font-size: 10em;
}
.site-header{
  @extend .theme-primary;
  @include flexbox();
  @extend .wrap-medium;
}
.site-title{
  flex: 1;
  margin: 0;
}
.page-title{
  font-weight: 300;
  font-size: 2 * $font_size;
  margin: 1em 0;
}
