input[ type="text"], input[ type="password"]{
  padding: .3em .5em;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form--horizontal{
  .form__row{
    @extend .x-row;
  }
}
.form--vertical{
  .form__row{
    @extend .x-col;
  }
}
.login__form{
  @extend .x-col;
  input[type="text"], input[ type="password"], textarea{
    width: 100%;
    font-size: 1.3 * $font_size;
  }
  .form__row{
    @extend .wrap-medium;
  }
}
