.theme-primary{
  background: $primary;
  color: $primary_color;
  a{
    color: $primary_link_color;
  }
}
.theme-secondary{
  background: $secondary;
  color: $secondary_color;
  a{
    color: $secondary_link_color;
  }
}
